target/
!target/*.jar
!target/*.war

.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath

.DS_Store
Thumbs.db

.git/
.gitignore

tokens/

*.log
logs/

pids/
*.pid
*.seed
*.pid.lock

coverage/

node_modules/

.npm

.node_repl_history

*.tgz

.yarn-integrity

.env

Dockerfile
.dockerignore
docker-compose*.yml

README.md
*.md

src/test/

*.tmp
*.temp 