spring:
  endpoints:
    web:
      exposure:
        include: loggers, health, prometheus, metrics
    health:
      probes:
        enabled: true
  loggers:
    enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    noreply-email: ${NOREPLY_EMAIL}
    admin-email: ${ADMIN_EMAIL}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
      default-encoding: UTF-8

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 1
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      pool-name: Application-Hikari-Pool
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        generate_statistics: false

  flyway:
    enabled: true
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    user: ${DB_USER}
    password: ${DB_PASSWORD}
    baseline-on-migrate: true
    baseline-version: 1

aws:
  region: ${AWS_REGION}
  s3:
    bucket_name: ${S3_BUCKET_NAME}
    vector_embeddings_key: ${S3_BUCKET_VECTOR_EMBEDDINGS_KEY}
    resume_key: ${S3_BUCKET_RESUME_KEY}

web:
  redirection_location: ${DEFAULT_REDIRECTION_LOCATION}

google:
  calendar_event_scope: https://www.googleapis.com/auth/calendar.events
  access_key_base64: ${GOOGLE_ACCESS_KEY_BASE64}
  recaptcha_v3:
    secret_key: ${GOOGLE_RECAPTCHA_V3_SECRET_KEY}

zoom:
  auth_token_url: https://zoom.us/oauth/token?grant_type=account_credentials&account_id=%s
  meet_link_url: https://api.zoom.us/v2/users/me/meetings
  account_id: ${ZOOM_ACCOUNT_ID}
  client_id: ${ZOOM_CLIENT_ID}
  client_secret: ${ZOOM_CLIENT_SECRET}

openai:
  api:
    access_token: ${OPENAI_ACCESS_TOKEN}
    base_url: ${OPENAI_BASE_URL}
    chat_model: ${OPENAI_CHAT_MODEL}
    embedding_model: ${OPENAI_EMBEDDING_MODEL}
  retrieval:
    topK: 3
    threshold: 0.4

###### API ROUTES ######
RequestMapping:
  schedule: /api/schedule/meet
  contact: /api/contact
  chat: /api/chat
  resume: /api/resume

Routes:
  schedule:
    availability: /availability
    initiate: /initiate
    respond: /respond

  contact:
    send: /send

  chat:
    response: /response

  resume:
    download: /download