name: Deploy to remote instance from BE

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build and push to Docker image to aditya-resume-backend
        run: |
          IMAGE_NAME=docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPO }}:latest
          docker buildx build --platform linux/amd64 -t $IMAGE_NAME --push .

      - name: Deploy to remote instance
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.INSTANCE_IPV4 }}
          username: ${{ secrets.INSTANCE_USER }}
          key: ${{ secrets.INSTANCE_KEY }}
          script: |
            set -e
            cd /home/ubuntu
            sudo rm -f .env-backend
            
            echo "writing secrets to .env-backend file"
            sudo bash -c 'cat <<EOF > .env-backend
            ADMIN_EMAIL=${{ secrets.ADMIN_EMAIL }}
            AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_REGION=${{ secrets.AWS_REGION }}
            DB_HOST=${{ secrets.DB_HOST }}
            DB_NAME=${{ secrets.DB_NAME }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            DB_PORT=${{ secrets.DB_PORT }}
            DB_USER=${{ secrets.DB_USER }}
            DEFAULT_REDIRECTION_LOCATION=${{ secrets.DEFAULT_REDIRECTION_LOCATION }}
            GOOGLE_ACCESS_KEY_BASE64=${{ secrets.GOOGLE_ACCESS_KEY_BASE64 }}
            GOOGLE_RECAPTCHA_V3_SECRET_KEY=${{ secrets.GOOGLE_RECAPTCHA_V3_SECRET_KEY }}
            OPENAI_ACCESS_TOKEN=${{ secrets.OPENAI_ACCESS_TOKEN }}
            OPENAI_BASE_URL=${{ secrets.OPENAI_BASE_URL }}
            OPENAI_CHAT_MODEL=${{ secrets.OPENAI_CHAT_MODEL }}
            OPENAI_EMBEDDING_MODEL=${{ secrets.OPENAI_EMBEDDING_MODEL }}
            NOREPLY_EMAIL=${{ secrets.NOREPLY_EMAIL }}
            S3_BUCKET_NAME=${{ secrets.S3_BUCKET_NAME }}
            S3_BUCKET_VECTOR_EMBEDDINGS_KEY=${{ secrets.S3_BUCKET_VECTOR_EMBEDDINGS_KEY }}
            SMTP_HOST=${{ secrets.SMTP_HOST }}
            SMTP_PASSWORD=${{ secrets.SMTP_PASSWORD }}
            SMTP_PORT=${{ secrets.SMTP_PORT }}
            SMTP_USERNAME=${{ secrets.SMTP_USERNAME }}
            ZOOM_ACCOUNT_ID=${{ secrets.ZOOM_ACCOUNT_ID }}
            ZOOM_CLIENT_ID=${{ secrets.ZOOM_CLIENT_ID }}
            ZOOM_CLIENT_SECRET=${{ secrets.ZOOM_CLIENT_SECRET }}
            EOF'
            
            IMAGE=docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPO }}:latest
            echo "pulling the latest image from docker hub"
            sudo docker pull $IMAGE
            echo "restarting the backend container..."
            sudo docker compose up -d backend
            echo "removing unused image..."
            sudo docker image prune -f
            sudo "successfully completed backend restart script!"